body {
    font-family: 'Inter', sans-serif;
    background-color: #1f2937;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
.phone-frame {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.4);
    background-color: white; 
    transition: filter 500ms ease-in-out, transform 300ms ease-in-out; 
}
.grayscale-mode {
    filter: grayscale(100%);
}

.main-ui-element {
    transition: transform 300ms ease-in-out;
}
.slide-right {
    transform: translateX(280px); 
}

.screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 400ms ease-in-out;
    background-color: white; 
    color: black;
    z-index: 5;
    overflow-y: auto; 
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-top: 90px; 
    padding-bottom: 90px; 
}
.screen::-webkit-scrollbar {
    display: none;
}

.profile-screen-layout {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.fixed-header, .fixed-nav {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 20;
}

.home-header {
    height: 80px;
    padding-top: 15px;
    background-color: rgba(255, 255, 255, 0.9); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.header-border {
    border-bottom: 1px solid #e5e7eb;
}

.bottom-nav {
    height: 70px;
    padding-bottom: 10px;
    background-color: white;
}

#sidebar {
    background-color: white;
    box-shadow: 8px 0 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    transform: translateX(-100%); 
    transition: transform 300ms ease-in-out;
    z-index: 30;
}
#sidebar.open {
    transform: translateX(0); 
}
#sidebar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 29;
    display: none;
}

.screen-hidden-left { transform: translateX(-100%); }
.screen-hidden-right { transform: translateX(100%); }
.screen-visible { transform: translateX(0); z-index: 10; }
.scrolling-content-area { -ms-overflow-style: none; scrollbar-width: none; }
.scrolling-content-area::-webkit-scrollbar { display: none; }
#map-screen { padding: 0 !important; }
#map-container { width: 100%; height: 100%; z-index: 1; }
.header-icon-img, .nav-icon-img { width: 100%; height: 100%; object-fit: contain; }
.gradient-button-bg { background-image: linear-gradient(to right, #5691b2, #afe6bb); }

.form-content {
    opacity: 1;
    max-height: 500px; 
    overflow: hidden;
    transition: opacity 300ms ease-in-out, max-height 300ms ease-in-out;
}
.form-content.hidden-content {
    opacity: 0;
    max-height: 0;
    pointer-events: none; 
}
